<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <table style="width:90%; margin-left:auto; margin-right:auto;">
            {% for board in boardList%}
                <tr>
                    <td>{{board.id}}</td>
                    <td>{{board.title}}</td>
                    <td>{{board.contents}}</td>
                    <td>{{board.writer}}</td>
                    <td>{{board.age}}</td>
                </tr>
            {%endfor%}
        </table>
    </body>
</html>